<div class="container">
    <div class="row" *ngFor="let cItem of cartItems">
        <div class="col">
            <div class="div list-group-item">
                <div class="row">
                    <div class="col-3">Put Image Here</div>
                    <div class="col-3">
                        {{cItem.pName}}
                    </div>
                    <div class="col-3">
                        {{cItem.pDesc}}
                    </div>
                    <div class="col-3">
                        {{cItem.qty}}
                        <button type="button" (click)="removeItem(cItem)" class="btn btn-danger">Remove</button>
                    </div>
                </div>
                <br>
                
                
            </div>
        </div>
    </div>
    <button type="button" (click)="removeCartItems()" class="btn btn-danger">Remove All</button>
</div>